<h1>Welcome Admin</h1>
 <% if admin_signed_in? %> 
    Signed in as 
    <%= current_admin.email %>. Not you?
     <%= link_to "Admin Sign out", destroy_admin_session_path ,method: :delete%>
      <% else %> 
      <%= link_to "Admin Sign up", new_admin_registration_path %> or 
      <%= link_to "Admin Sign in", new_admin_session_path %>
    <% end %>